In [1]:
import pandas as pd

In [2]:
df_school_detail = pd.read_csv('../../../input/ny-2010-2011-class-size-school-level-detail/2010-2011-class-size-school-level-detail.csv')

In [3]:
df_school_detail.columns

Index([u'CSD', u'BOROUGH', u'SCHOOL CODE', u'SCHOOL NAME', u'GRADE ',
       u'PROGRAM TYPE', u'CORE SUBJECT (MS CORE and 9-12 ONLY)',
       u'CORE COURSE (MS CORE and 9-12 ONLY)', u'SERVICE CATEGORY(K-9* ONLY)',
       u'NUMBER OF STUDENTS / SEATS FILLED', u'NUMBER OF SECTIONS',
       u'AVERAGE CLASS SIZE', u'SIZE OF SMALLEST CLASS',
       u'SIZE OF LARGEST CLASS', u'DATA SOURCE',
       u'SCHOOLWIDE PUPIL-TEACHER RATIO'],
      dtype='object')

In [4]:
df_school_detail['SCHOOL CODE'].head()

0    M015
1    M015
2    M015
3    M015
4    M015
Name: SCHOOL CODE, dtype: object

In [5]:
df_school_detail.groupby('CSD').size()

CSD
1      550
2     1985
3      782
4      613
5      570
6      769
7      828
8      960
9     1268
10    1568
11    1175
12     976
13     779
14     720
15     834
16     355
17    1020
18     630
19     795
20     763
21     926
22     749
23     501
24     947
25     804
26     575
27    1158
28     804
29     758
30     778
31    1212
32     459
dtype: int64

In [6]:
for ix, row in df_school_detail.iterrows():
    csd = str(row['CSD'])
    if len(csd) == 1:
        csd = "0"+csd
        df_school_detail.loc[ix,'CSD'] = csd

In [7]:
df_school_detail["DBN_manual"] = (df_school_detail["CSD"].astype(str)) + (df_school_detail["SCHOOL CODE"].astype(str))

In [8]:
df_school_detail.columns.values

array(['CSD', 'BOROUGH', 'SCHOOL CODE', 'SCHOOL NAME', 'GRADE ',
       'PROGRAM TYPE', 'CORE SUBJECT (MS CORE and 9-12 ONLY)',
       'CORE COURSE (MS CORE and 9-12 ONLY)',
       'SERVICE CATEGORY(K-9* ONLY)', 'NUMBER OF STUDENTS / SEATS FILLED',
       'NUMBER OF SECTIONS', 'AVERAGE CLASS SIZE',
       'SIZE OF SMALLEST CLASS', 'SIZE OF LARGEST CLASS', 'DATA SOURCE',
       'SCHOOLWIDE PUPIL-TEACHER RATIO', 'DBN_manual'], dtype=object)

In [9]:
len(df_school_detail['DBN_manual'])

27611

In [10]:
len(set(df_school_detail['DBN_manual']))

1487

In [11]:
df_school_detail.sort_values(['DBN_manual'])

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO,DBN_manual
0,01,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN,01M015
11,01,M,M015,P.S. 015 Roberto Clemente,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.4,01M015
10,01,M,M015,P.S. 015 Roberto Clemente,0K-09,SPEC ED,-,-,12:1:1,9.0,1.0,9.0,9.0,9.0,ATS,NaN,01M015
9,01,M,M015,P.S. 015 Roberto Clemente,05,GEN ED,-,-,-,27.0,1.0,27.0,27.0,27.0,ATS,NaN,01M015
7,01,M,M015,P.S. 015 Roberto Clemente,03,CTT,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN,01M015
6,01,M,M015,P.S. 015 Roberto Clemente,03,GEN ED,-,-,-,12.0,1.0,12.0,12.0,12.0,ATS,NaN,01M015
8,01,M,M015,P.S. 015 Roberto Clemente,04,GEN ED,-,-,-,26.0,2.0,13.0,12.0,14.0,ATS,NaN,01M015
4,01,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN,01M015
3,01,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01M015
2,01,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01M015
1,01,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01M015
5,01,M,M015,P.S. 015 Roberto Clemente,02,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01M015
20,01,M,M019,P.S. 019 Asher Levy,05,GEN ED,-,-,-,22.0,1.0,22.0,22.0,22.0,ATS,NaN,01M019
24,01,M,M019,P.S. 019 Asher Levy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,01M019
23,01,M,M019,P.S. 019 Asher Levy,0K-09,SPEC ED,-,-,12:1:1,11.0,1.0,11.0,11.0,11.0,ATS,NaN,01M019
22,01,M,M019,P.S. 019 Asher Levy,0K-09,SPEC ED,-,-,12:1,7.0,1.0,7.0,7.0,7.0,ATS,NaN,01M019
21,01,M,M019,P.S. 019 Asher Levy,05,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01M019
19,01,M,M019,P.S. 019 Asher Levy,04,CTT,-,-,-,24.0,1.0,24.0,24.0,24.0,ATS,NaN,01M019
15,01,M,M019,P.S. 019 Asher Levy,01,CTT,-,-,-,13.0,1.0,13.0,13.0,13.0,ATS,NaN,01M019
17,01,M,M019,P.S. 019 Asher Levy,03,GEN ED,-,-,-,35.0,2.0,17.5,17.0,18.0,ATS,NaN,01M019
16,01,M,M019,P.S. 019 Asher Levy,02,GEN ED,-,-,-,46.0,2.0,23.0,22.0,24.0,ATS,NaN,01M019
14,01,M,M019,P.S. 019 Asher Levy,01,GEN ED,-,-,-,39.0,2.0,19.5,19.0,20.0,ATS,NaN,01M019
13,01,M,M019,P.S. 019 Asher Levy,0K,CTT,-,-,-,12.0,1.0,12.0,12.0,12.0,ATS,NaN,01M019
12,01,M,M019,P.S. 019 Asher Levy,0K,GEN ED,-,-,-,39.0,2.0,19.5,18.0,21.0,ATS,NaN,01M019
18,01,M,M019,P.S. 019 Asher Levy,04,GEN ED,-,-,-,22.0,1.0,22.0,22.0,22.0,ATS,NaN,01M019
33,01,M,M020,P.S. 020 Anna Silver,04,GEN ED,-,-,-,70.0,3.0,23.3,23.0,24.0,ATS,NaN,01M020
38,01,M,M020,P.S. 020 Anna Silver,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.4,01M020
37,01,M,M020,P.S. 020 Anna Silver,0K-09,SPEC ED,-,-,12:1:1,34.0,3.0,11.3,11.0,12.0,ATS,NaN,01M020
36,01,M,M020,P.S. 020 Anna Silver,05,CTT,-,-,-,29.0,1.0,29.0,29.0,29.0,ATS,NaN,01M020
35,01,M,M020,P.S. 020 Anna Silver,05,GEN ED,-,-,-,57.0,2.0,28.5,28.0,29.0,ATS,NaN,01M020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27589,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,MATH,Integrated Algebra,-,26.0,2.0,13.0,12.0,14.0,STARS,NaN,32K556
27583,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,US History & Government,-,128.0,5.0,25.6,13.0,32.0,STARS,NaN,32K556
27579,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SCIENCE,Chemistry,-,201.0,8.0,25.1,21.0,29.0,STARS,NaN,32K556
27581,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SCIENCE,Other Science,-,313.0,12.0,26.1,18.0,33.0,STARS,NaN,32K556
27571,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,ENGLISH,English 9,-,144.0,7.0,20.6,12.0,26.0,STARS,NaN,32K556
27582,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Global History & Geography,-,289.0,11.0,26.3,15.0,34.0,STARS,NaN,32K556
27573,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,ENGLISH,English 11,-,103.0,4.0,25.8,21.0,30.0,STARS,NaN,32K556
27574,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,ENGLISH,English 12,-,122.0,5.0,24.4,11.0,33.0,STARS,NaN,32K556
27572,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,ENGLISH,English 10,-,92.0,4.0,23.0,13.0,30.0,STARS,NaN,32K556
27576,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,MATH,Geometry,-,112.0,7.0,16.0,10.0,24.0,STARS,NaN,32K556
27577,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,MATH,Trigonometry,-,35.0,2.0,17.5,12.0,23.0,STARS,NaN,32K556
27578,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SCIENCE,Living Environment,-,93.0,4.0,23.3,21.0,25.0,STARS,NaN,32K556
27580,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SCIENCE,Physics,-,68.0,2.0,34.0,34.0,34.0,STARS,NaN,32K556
27575,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,MATH,Integrated Algebra,-,163.0,6.0,27.2,18.0,31.0,STARS,NaN,32K556
27603,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Chemistry,-,57.0,2.0,28.5,27.0,30.0,STARS,NaN,32K564
27608,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Participation in Government,-,53.0,2.0,26.5,25.0,28.0,STARS,NaN,32K564
27607,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Economics,-,65.0,2.0,32.5,32.0,33.0,STARS,NaN,32K564
27606,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,US History & Government,-,256.0,10.0,25.6,15.0,35.0,STARS,NaN,32K564
27605,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Global History & Geography,-,237.0,10.0,23.7,15.0,31.0,STARS,NaN,32K564
27604,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Physics,-,49.0,2.0,24.5,22.0,27.0,STARS,NaN,32K564
27602,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Living Environment,-,161.0,6.0,26.8,17.0,31.0,STARS,NaN,32K564
27609,32,K,K564,Bushwick Community High School,09-12,CTT,MATH,Integrated Algebra,-,50.0,2.0,25.0,25.0,25.0,STARS,NaN,32K564
27600,32,K,K564,Bushwick Community High School,09-12,GEN ED,MATH,Math A,-,23.0,1.0,23.0,23.0,23.0,STARS,NaN,32K564
27599,32,K,K564,Bushwick Community High School,09-12,GEN ED,MATH,Integrated Algebra,-,342.0,14.0,24.4,19.0,28.0,STARS,NaN,32K564
27598,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 12,-,132.0,5.0,26.4,19.0,29.0,STARS,NaN,32K564
27597,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 11,-,144.0,6.0,24.0,21.0,28.0,STARS,NaN,32K564
27596,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 10,-,102.0,4.0,25.5,17.0,30.0,STARS,NaN,32K564
27595,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 9,-,261.0,10.0,26.1,17.0,35.0,STARS,NaN,32K564
27601,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Earth Science,-,24.0,2.0,12.0,12.0,12.0,STARS,NaN,32K564
27610,32,K,K564,Bushwick Community High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.1,32K564

In [12]:
df_school_detail['AVERAGE CLASS SIZE'].isnull().sum()

1484

In [13]:
df_school_detail['SCHOOLWIDE PUPIL-TEACHER RATIO'].isnull().sum()

26127

In [14]:
df_school_detail_sptr = df_school_detail.dropna(subset=['SCHOOLWIDE PUPIL-TEACHER RATIO'])

In [15]:
len(df_school_detail_sptr['DBN_manual'])

1484

In [16]:
len(set(df_school_detail_sptr['DBN_manual']))

1484

In [17]:
df_schools_raw = pd.read_csv('../../../input/2016 School Explorer.csv')

In [18]:
df_schools_raw.columns.values

array(['Adjusted Grade', 'New?', 'Other Location Code in LCGMS',
       'School Name', 'SED Code', 'Location Code', 'District', 'Latitude',
       'Longitude', 'Address (Full)', 'City', 'Zip', 'Grades', 'Grade Low',
       'Grade High', 'Community School?', 'Economic Need Index',
       'School Income Estimate', 'Percent ELL', 'Percent Asian',
       'Percent Black', 'Percent Hispanic', 'Percent Black / Hispanic',
       'Percent White', 'Student Attendance Rate',
       'Percent of Students Chronically Absent', 'Rigorous Instruction %',
       'Rigorous Instruction Rating', 'Collaborative Teachers %',
       'Collaborative Teachers Rating', 'Supportive Environment %',
       'Supportive Environment Rating', 'Effective School Leadership %',
       'Effective School Leadership Rating',
       'Strong Family-Community Ties %',
       'Strong Family-Community Ties Rating', 'Trust %', 'Trust Rating',
       'Student Achievement Rating', 'Average ELA Proficiency',
       'Average Math Proficiency', 'Grade 3 ELA - All Students Tested',
       'Grade 3 ELA 4s - All Students',
       'Grade 3 ELA 4s - American Indian or Alaska Native',
       'Grade 3 ELA 4s - Black or African American',
       'Grade 3 ELA 4s - Hispanic or Latino',
       'Grade 3 ELA 4s - Asian or Pacific Islander',
       'Grade 3 ELA 4s - White', 'Grade 3 ELA 4s - Multiracial',
       'Grade 3 ELA 4s - Limited English Proficient',
       'Grade 3 ELA 4s - Economically Disadvantaged',
       'Grade 3 Math - All Students tested',
       'Grade 3 Math 4s - All Students',
       'Grade 3 Math 4s - American Indian or Alaska Native',
       'Grade 3 Math 4s - Black or African American',
       'Grade 3 Math 4s - Hispanic or Latino',
       'Grade 3 Math 4s - Asian or Pacific Islander',
       'Grade 3 Math 4s - White', 'Grade 3 Math 4s - Multiracial',
       'Grade 3 Math 4s - Limited English Proficient',
       'Grade 3 Math 4s - Economically Disadvantaged',
       'Grade 4 ELA - All Students Tested',
       'Grade 4 ELA 4s - All Students',
       'Grade 4 ELA 4s - American Indian or Alaska Native',
       'Grade 4 ELA 4s - Black or African American',
       'Grade 4 ELA 4s - Hispanic or Latino',
       'Grade 4 ELA 4s - Asian or Pacific Islander',
       'Grade 4 ELA 4s - White', 'Grade 4 ELA 4s - Multiracial',
       'Grade 4 ELA 4s - Limited English Proficient',
       'Grade 4 ELA 4s - Economically Disadvantaged',
       'Grade 4 Math - All Students Tested',
       'Grade 4 Math 4s - All Students',
       'Grade 4 Math 4s - American Indian or Alaska Native',
       'Grade 4 Math 4s - Black or African American',
       'Grade 4 Math 4s - Hispanic or Latino',
       'Grade 4 Math 4s - Asian or Pacific Islander',
       'Grade 4 Math 4s - White', 'Grade 4 Math 4s - Multiracial',
       'Grade 4 Math 4s - Limited English Proficient',
       'Grade 4 Math 4s - Economically Disadvantaged',
       'Grade 5 ELA - All Students Tested',
       'Grade 5 ELA 4s - All Students',
       'Grade 5 ELA 4s - American Indian or Alaska Native',
       'Grade 5 ELA 4s - Black or African American',
       'Grade 5 ELA 4s - Hispanic or Latino',
       'Grade 5 ELA 4s - Asian or Pacific Islander',
       'Grade 5 ELA 4s - White', 'Grade 5 ELA 4s - Multiracial',
       'Grade 5 ELA 4s - Limited English Proficient',
       'Grade 5 ELA 4s - Economically Disadvantaged',
       'Grade 5 Math - All Students Tested',
       'Grade 5 Math 4s - All Students',
       'Grade 5 Math 4s - American Indian or Alaska Native',
       'Grade 5 Math 4s - Black or African American',
       'Grade 5 Math 4s - Hispanic or Latino',
       'Grade 5 Math 4s - Asian or Pacific Islander',
       'Grade 5 Math 4s - White', 'Grade 5 Math 4s - Multiracial',
       'Grade 5 Math 4s - Limited English Proficient',
       'Grade 5 Math 4s - Economically Disadvantaged',
       'Grade 6 ELA - All Students Tested',
       'Grade 6 ELA 4s - All Students',
       'Grade 6 ELA 4s - American Indian or Alaska Native',
       'Grade 6 ELA 4s - Black or African American',
       'Grade 6 ELA 4s - Hispanic or Latino',
       'Grade 6 ELA 4s - Asian or Pacific Islander',
       'Grade 6 ELA 4s - White', 'Grade 6 ELA 4s - Multiracial',
       'Grade 6 ELA 4s - Limited English Proficient',
       'Grade 6 ELA 4s - Economically Disadvantaged',
       'Grade 6 Math - All Students Tested',
       'Grade 6 Math 4s - All Students',
       'Grade 6 Math 4s - American Indian or Alaska Native',
       'Grade 6 Math 4s - Black or African American',
       'Grade 6 Math 4s - Hispanic or Latino',
       'Grade 6 Math 4s - Asian or Pacific Islander',
       'Grade 6 Math 4s - White', 'Grade 6 Math 4s - Multiracial',
       'Grade 6 Math 4s - Limited English Proficient',
       'Grade 6 Math 4s - Economically Disadvantaged',
       'Grade 7 ELA - All Students Tested',
       'Grade 7 ELA 4s - All Students',
       'Grade 7 ELA 4s - American Indian or Alaska Native',
       'Grade 7 ELA 4s - Black or African American',
       'Grade 7 ELA 4s - Hispanic or Latino',
       'Grade 7 ELA 4s - Asian or Pacific Islander',
       'Grade 7 ELA 4s - White', 'Grade 7 ELA 4s - Multiracial',
       'Grade 7 ELA 4s - Limited English Proficient',
       'Grade 7 ELA 4s - Economically Disadvantaged',
       'Grade 7 Math - All Students Tested',
       'Grade 7 Math 4s - All Students',
       'Grade 7 Math 4s - American Indian or Alaska Native',
       'Grade 7 Math 4s - Black or African American',
       'Grade 7 Math 4s - Hispanic or Latino',
       'Grade 7 Math 4s - Asian or Pacific Islander',
       'Grade 7 Math 4s - White', 'Grade 7 Math 4s - Multiracial',
       'Grade 7 Math 4s - Limited English Proficient',
       'Grade 7 Math 4s - Economically Disadvantaged',
       'Grade 8 ELA - All Students Tested',
       'Grade 8 ELA 4s - All Students',
       'Grade 8 ELA 4s - American Indian or Alaska Native',
       'Grade 8 ELA 4s - Black or African American',
       'Grade 8 ELA 4s - Hispanic or Latino',
       'Grade 8 ELA 4s - Asian or Pacific Islander',
       'Grade 8 ELA 4s - White', 'Grade 8 ELA 4s - Multiracial',
       'Grade 8 ELA 4s - Limited English Proficient',
       'Grade 8 ELA 4s - Economically Disadvantaged',
       'Grade 8 Math - All Students Tested',
       'Grade 8 Math 4s - All Students',
       'Grade 8 Math 4s - American Indian or Alaska Native',
       'Grade 8 Math 4s - Black or African American',
       'Grade 8 Math 4s - Hispanic or Latino',
       'Grade 8 Math 4s - Asian or Pacific Islander',
       'Grade 8 Math 4s - White', 'Grade 8 Math 4s - Multiracial',
       'Grade 8 Math 4s - Limited English Proficient',
       'Grade 8 Math 4s - Economically Disadvantaged'], dtype=object)

In [19]:
df_schools_raw[['SED Code','Location Code','District','Zip']].head()

       SED Code Location Code  District    Zip
0  310100010015        01M015         1  10009
1  310100010019        01M019         1  10003
2  310100010020        01M020         1  10002
3  310100010034        01M034         1  10009
4  310100010063        01M063         1  10009

In [20]:
df_schools_raw.groupby('District').size()

District
1     27
2     53
3     41
4     33
5     36
6     43
7     41
8     43
9     62
10    61
11    50
12    40
13    36
14    35
15    42
16    27
17    41
18    29
19    44
20    39
21    31
22    33
23    32
24    40
25    35
26    28
27    50
28    39
29    38
30    41
31    60
32    22
dtype: int64

In [21]:
len(df_schools_raw["Location Code"])

1272

In [22]:
len(set(df_schools_raw["Location Code"]))

1272

In [23]:
df_schools = df_schools_raw[df_schools_raw['Grade High'] != '0K']
df_schools = df_schools[df_schools['Grade High'].astype(int) > 5]

In [24]:
len(df_schools)

626

In [25]:
dbn_intersection = list((set(df_school_detail_sptr['DBN_manual'])).intersection(set(df_schools["Location Code"])))

In [26]:
len(dbn_intersection)

470

In [27]:
df_stpr_school = df_school_detail_sptr[df_school_detail_sptr['DBN_manual'].isin(dbn_intersection)]

In [28]:
len(df_stpr_school)

470

In [29]:
df_stpr_school['SCHOOLWIDE PUPIL-TEACHER RATIO'].describe()

count    470.000000
mean      14.097021
std        2.544049
min        5.800000
25%       12.325000
50%       14.000000
75%       15.775000
max       25.400000
Name: SCHOOLWIDE PUPIL-TEACHER RATIO, dtype: float64