In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../../../input/2016 School Explorer.csv')

In [3]:
df['Grade High'] = df['Grade High'].astype(np.object_)
df['Grades'] = df['Grades'].astype(np.object_)

In [4]:
np.unique(df['Grade High'])

array(['02', '03', '04', '05', '06', '07', '08', '09', '0K', '10', '12'],
      dtype=object)

In [5]:
np.unique(df['Grade Low'])

array(['01', '02', '03', '04', '05', '06', '07', '09', '0K', 'PK'],
      dtype=object)

In [6]:
df['Grade High'] = df['Grade High'].str.replace('0K', '00')
df['Grade High'] = df['Grade High'].str.replace('PK', '00')

df['Grade Low'] = df['Grade Low'].str.replace('0K', '00')
df['Grade Low'] = df['Grade Low'].str.replace('PK', '00')

df['Grades'] = df['Grades'].str.replace(',0K', '')
df['Grades'] = df['Grades'].str.replace(',PK', '')
df['Grades'] = df['Grades'].str.replace('0K,', '')
df['Grades'] = df['Grades'].str.replace('PK,', '')
df['Grades'] = df['Grades'].str.replace(',SE', '')
df['Grades'] = df['Grades'].str.replace(',K', '')

In [7]:
df['Grade High Hand Made'] = df['Grades'].str.split(',').str[-1]

In [8]:
df_mismatched = df[np.logical_not(df['Grade High Hand Made'] == df['Grade High'])]

In [9]:
df_mismatched[['Grade High Hand Made', 'Grade High', 'Grades']]

    Grade High Hand Made Grade High Grades
779                   0K         00     0K
896                   0K         00     0K